<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.hidden_field :restaurant_id, value: "current.restaurant.id" %>
  </div>
  
  <div class="field">
    <%= form.label :gross_total %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :tax %>
    <%= form.number_field :price %>
  </div>
  
  <div class="field">
    <%= form.label :discount %>
    <%= form.range_field :discount, in: 1..50 %>
  </div>
  
  <div class="field">
    <%= form.label :net_total %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
